@page
@model BeautySalon.Pages.Inventarios.IndexModel

@{
    ViewData["Title"] = "Index Inventarios";
}

<h1>Index Inventarios</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Inventarios[0].NombreProducto)</th>
            <th>@Html.DisplayNameFor(model => model.Inventarios[0].CantidadDisponible)</th>
            <th>@Html.DisplayNameFor(model => model.Inventarios[0].CostoUnitario)</th>
            <th>@Html.DisplayNameFor(model => model.Inventarios[0].Proveedor)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventarios)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadDisponible)</td>
                <td>@Html.DisplayFor(modelItem => item.CostoUnitario)</td>
                <td>@Html.DisplayFor(modelItem => item.Proveedor)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>